.container{
    width: 100vw;
    height: 100vh;
    background-color: rgb(146, 194, 236);
}
.quiz-app{
    width: 400px;
    padding: 20px;
    background-color: white;
    margin: 0 auto;
    transform: translateY(60px);
    border-radius: 9px;
}
.heading{
    margin-bottom: 15px;
    text-align: center;
}
.question{
    font-size: 18px;
    margin-bottom: 20px;
}
.options button{
    display: flex;
    width: 100%;
    padding: 10px 20px;
    margin: 10px 0;
    border-radius: 50px;
    cursor: pointer;
    border: none;
    background-color: rgb(43, 32, 32);
    color:white ;
    font-size: 18px;
    transition: .3s ease-in-out;
}
.options button:hover{
    background-color: darkgray;
}
.next-button{
    display: flex;
    margin: 10px auto;
    padding: 10px 35px;
    font-size: 18px;
    align-items: center;
    justify-content: center;
    background-color: black;
    color: white;
    border-radius: 50px;
    cursor: pointer;
    border: none;
    transition: .3 ease-in-out;
}
.next-button:hover{
    background-color: gray;
}